<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--此文件存储当前客户端的特定配置 
  如 更新服务端地址，版本信息等
  另外还存储硬件接口配置 
  -->
  <appSettings>
    <add key="CurrentVersion"  value="1.0.0"/>
    <add key="LastUpdateTime" value="2015-02-03 12:12:04"/>
    <add key="UpgradeServerUrl" value="http://localhost:64192/"/>
 
  </appSettings>
</configuration>
